// libs
@import 'bootstrap/scss/bootstrap.scss';

// normalize
@import './normalize.scss';

// mixins
@import './mixins.scss';

// vars
@import './vars.scss';

body,
html {
	font-family: 'Roboto', sans-serif;
	background-color: $background-color;
}

* {
	box-sizing: border-box;
}
