@import './vars.scss';
@import './functions.scss';

@mixin shadow() {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

@mixin container($padding: 2) {
	padding: padding($padding);
}

@mixin page($calc-header: 1, $calc-footer: 1, $top-offset: 0px) {
	// background-color: $background-color;

	@if ($calc-header == 1) {
		@if ($calc-footer == 1) {
			min-height: calc(100vh - ($header-height + $footer-height + $top-offset));
		} @else {
			min-height: calc(100vh - ($header-height + $top-offset));
		}
	} @else {
		@if ($calc-footer == 1) {
			min-height: calc(100vh - $footer-height + $top-offset);
		} @else {
			min-height: calc(100vh - $top-offset);
		}
	}

	@include container();
}

@mixin link() {
	font-weight: 300;
	font-size: $font-size-navigation;
	line-height: 11px;
	text-decoration-line: underline;

	color: #00c7af;
}

@mixin input {
	width: 100%;
	border: none;
	background: #ececec;
	color: #000;
	border-radius: 7px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}

	&::placeholder {
		color: #ababab;
		font-weight: 300;
	}
}

@mixin button($mode: 'cta') {
	border: none;
	border-radius: 5px;
	border: 1px solid $cta-color;

	cursor: pointer;

	@if ($mode == 'cta') {
		background-color: $cta-color;
		color: #fff;
	}

	&:hover,
	&:focus,
	&:active {
		outline: none;
	}
}

@mixin scaleble($scale: 1.2, $to: $transition-fast, $from: $transition-fast) {
	& {
		transition: $to;

		&:hover {
			transform: scale($scale);
			transition: $from;
		}
	}
}
