// colors
$background-color: #f4f4f4;
$cta-color: #ffb800;

// paddings, etc.
$base-padding: 9px;

// sizes
$header-height: (32px + ($base-padding * 2)); // 68px
$footer-height: 134px;
$border-radius: 7px;

$font-size-header: 2em;
$font-size-subheader: 1.3em;
$font-size-content: 0.9em;
$font-size-navigation: 15px;
