// colors
$background-color: #f4f4f4;
$cta-color: #ffb800;
$gray: #a2a2a2;

// paddings, etc.
$base-padding: 9px;

// sizes
$header-height: (32px + ($base-padding * 2)); // 68px
$footer-height: 134px;
$border-radius: 7px;

$font-size-header: 2em;
$font-size-subheader: 1.3em;
$font-size-content: 0.9em;
$font-size-navigation: 15px;
$font-size-regular: 16px;
$font-size-small: 14px;
$font-size-micro: 12px;
$font-size-big: 90px;

// transitions
$transition: 0.7s;
$transition-fast: 0.2s;
