$breakpoints: (
	m-sm: 0px,
	m-s: 455px,
	m: 576px,
	t-sm: 863px,
	t: 992px,
	t-l: 1200px,
	d: 1300px,
	d-xl: 2000px,
);

@mixin get-media-up($after: 0px) {
	@media screen and (max-width: $after) {
		& {
			@content;
		}
	}
}

@mixin get-media-down($before: 0px) {
	@media screen and (min-width: $before) {
		& {
			@content;
		}
	}
}

@mixin media-up($brekpoint-name) {
	@if map-has-key($breakpoints, $brekpoint-name) {
		@include get-media-up(#{map-get($breakpoints, $brekpoint-name)}) {
			@content;
		}
	} @else {
		@error "Unknow $brekpoint-name: `#{$brekpoint-name}`";
	}
}

@mixin media-down($brekpoint-name) {
	@if map-has-key($breakpoints, $brekpoint-name) {
		@include get-media-up(#{map-get($breakpoints, $brekpoint-name)}) {
			@content;
		}
	} @else {
		@error "Unknow $brekpoint-name: `#{$brekpoint-name}`";
	}
}

@mixin landscape() {
	html.landscape & {
		@content;
	}
}

@mixin portrait() {
	html.portrait & {
		@content;
	}
}
